header {
  width: 100%;
  height: 140px;
  margin-bottom: 50px;
  background-color: #00b4d8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.middle-div {
  height: 120px;
  background-color: #48cae4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #90e0ef;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .logo {
    display: flex;
    align-items: center;
    img {
      width: 200px;
      margin-left: 50px;
    }
  }

  .favorites {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 4px 14px;
    color: #000;
    border-radius: 4px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.062) 0px 2px 8px 0px;
  }
}

@media screen and (max-width: 768px) {
  .bottom-div {
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 150px;
        margin-left: 20px;
      }
    }   
    .favorites {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .bottom-div {
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        margin-left: 10px;
      }
    }   
    .favorites {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}
